- node = @etcd_response.node
.row
  .col-md-12
    %ol.breadcrumb
      - active = (key.nil? || key.empty?) ? 'active' : nil
      %li{class: active}
        %a{href: '/keys/'}
          %span.glyphicon.glyphicon-home{'aria-hidden' => true}
      - if key
        - paths = key.split(?/).tap(&:shift)
        - paths.each_with_index do |part, i|
          - active = (i.succ == key.size) ? 'active' : nil
          %li{class: active}
            %a{href: "/keys/#{paths[0..i].join(?/)}"}
              = part

- if node.dir
  != haml :dir, locals: {node: node}
- else
  != haml :key, locals: {node: node}


%footer.keys-footer.row
  .col-md-6
      %span.label-default.label etcd_index
      = @etcd_response.etcd_index
      %span.label-default.label raft_index
      = @etcd_response.raft_index
      %span.label-default.label raft_term
      = @etcd_response.raft_term
